/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p,h1,h2,h3,h4,h5,span{
    font-family: 'Montserrat', sans-serif;
}
/* 分隔 */
body{
    width: 85%;
    margin: 0 auto;
    justify-content: center;
	align-items: center;
}

header .container{
	width: 2000px;
	display:flex;
	padding: 0 10px;
	position:fixed;
	z-index: 1;

}
header nav{
	text-align: right;
	width: 100%;
    font-size: 0;
    position:absolute;
    left:140px;
}
header nav a{
	display: inline-block;
	line-height: 50px;
	color:black;
	font-size: 20px;
	text-decoration: none;
	padding: 0 20px;
}
header nav a:hover{
	background:rgba(0,0,0,0.6);
    color:black;
    border-radius: 90px;
}
header .list{
	display: inline-block;
    padding: 6px 0;
    color:black;
    font-size: 30px;
}
header nav a:hover{
	background-color:white;
	color:black;
}

#intro .logo img{
    width: 150px;
    height: 150px;
    display:block;
    margin:auto;
    margin-bottom: 30px;
}
#intro .jumbotron{
    height: 90vh;
    background: url(fake.jpg) no-repeat center center /cover;
    padding: 100px;
}
#intro h1{
    font-size: 100px;
    font-weight: 500;
    line-height: 1.5;
}
#intro a{
    margin-top: 30px;
    background-color:rgb(255, 119, 142);
    color: aliceblue;
    padding: 10px 25px;
}
#intro .container{
    display:flex;
    align-items: center;
}
#intro .changetitle{
    background: url(b1.png) no-repeat center center /cover;
    width: 100%;
    height: 200px;
    padding: 100px;
}
#intro p{
    text-align: center;
    font-size: 50px;
    color:hotpink;
    line-height: 10px;
}
/* #intro .changetitle p{
    position:absolute;
    text-align: center;
    font-size: 50px;
    color:hotpink;
    left: 10px;
    
} */

#sales{
    margin-top: 30px;
    padding: 30px 0;
    /* background: rgb(248,248,248); */
    height: 600px;
}
#sales .upper{
    position: relative;
}
#sales .upper img{
    width: 100%;
    height: 280px;
}
#sales .innertext{
    position: absolute;
    bottom: 1px;
    width: 100%;
    display:none;
}
#sales .innertext span{
    background-color: antiquewhite;
    opacity: 0.5;
    padding: 8px 10px;
    text-align: center;
    display: block;
    width: 100%;
    line-height: 30px;
    /* display:none; */
}
/* h3:hover + .innertext{
    display: block;
} */
#sales .lower span{
    font-size: 20px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
}
h3{
    font-size: 35px;
    float: left;
    margin-bottom: 30px;
}
#sales .buyit .num{
    border:0.5px solid black;
    font-size: 18px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.buyit a{
    text-decoration:none;
    color:black;
    border:none;
    
}
.buyit .pinkbtn{
    font-size: 18px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.pinkbtn{
    background-color:hotpink;
    color:white;
    border:none;
    
}
.pinkbtn:hover{
    display: inline-block;
    border:2px solid hotpink;
    color:hotpink;
    /* opacity: 0.5; */
    background-color: white;
}

.full-screen{
    width: 25%;
    height:100vh ;
    padding: 25px;
    background: rgb(3, 230, 230);
    color:aliceblue;
    position:fixed;
	z-index: 2;
    left: 0;
    display:none;
}
.full-screen p,.closebtn{
    padding: 30px;
    font-size: 40px;
    /* font-weight:bold; */
}
.full-screen a{
text-decoration:none;
color:rgb(255, 255, 255);
}
#igintro{
    padding: 30px;
}
#igintro img{
    width: 100%;
    height: 250px;
    position: relative;
}
#igintro .innertextig{
    position: absolute;
    bottom: 1px;
    width: 100%;
    display:none;
}
#igintro .innertextig span{
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    padding: 110px 10px;
    text-align: center;
    display: block;
    width: 89.5%;
    line-height: 30px;
    color:aliceblue;
    /* display:none; */
}
/* #igintro .col-md-12 >h3{
    margin:auto;
    text-align: center;
    margin-bottom: 30px;
} */
footer .container{
    margin-top: 30px;
    height: 50vh;
    background: url(b2.png) no-repeat center center /cover;
    padding: 100px;
}
footer a{
    text-decoration:none;
    color:black;
}
footer p,h5{
    padding: 10px 0;
    text-align: left;
    color:black;
    text-decoration:none;
}
footer h5{
    margin-top: -30px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* web2 */
#catintro{
    padding: 10px;
    margin-top: 30px;
}
#catintro h2{
    font-size:25px;
    margin-bottom: 10px;
}
#catintro p{
    width: 50%;
    float: left;
    margin-right: 2px;
    font-size: 18px;
    line-height: 35px;
}
#catintro img{
    width: 40%;
    float: right;
    margin-top: -220px;
}
.wrap{
	width: 960px;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.wrap{
	display:flex;
	margin-top: 10px;
	flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}
.wrap .item{
	width: 40%;
	margin: 0 10px;
	text-align: center;
}
.wrap .item img{
	width: 100%;
}
.wrap p{
    /* width: 760px; */
	margin: auto;   
	text-align: left;
	padding: 5px 0;
	line-height: 1.5;
	line-height: 50px;
}
 .wrap .itemifo{
	width: 40%;
	margin: 0 10px;
	text-align: center;
	float: left;
	margin-top: 40px;
}