/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color:rgb(230, 230, 230);
    color:#4D4D4D;
    font-style: "noticia text" serif
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
h2{
    font-size: 43px;
    font-weight: bold;
}
h3{
    font-size: 18px;
    font-weight: bold;
    margin-top: 13px;
}
h1{
    font-size: 80px;
    /* font-style:  "noticia text"; */
}
h4{
    font-size: 43px;
}
h5{
    font-weight: bold;
    font-size: 13px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
    width: 960px;
    /* background-color: hotpink; */
    /* height: 3000px;  */
    margin:50px auto;
    padding: 30px 0;
}
header .container{
    display:flex;
    margin-left: 5%;
}
header nav .list{
    /* width: 300px; */
    display:flex;
    margin-left: 10%;
    margin-top: 12%;
}
header .container nav a{
    display: inline-block;
    display:flex;
    text-decoration: none;
    color:rgb(114, 114, 114);
    font-weight: bold;
    padding: 10px;
}
header .container nav a:hover{
    color:#33cfff;
}
#intro .container{
    margin-top: 8%;
    display:flex;
}
#intro .container img{
    width: 40%;
    border-radius:50%;
    margin-right: 5%;
}
#intro .container .detail{
    width: 55%;
}
#intro .container .button{
    display:flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}
#intro .container a {
    color: aliceblue;
    text-decoration: none;
    font-size: 13px;
    font-style: "open sans",sans-serif;
    display: inline-block;
    /* position: relative; */
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
}

#intro .container a {   
    width: 130px;
    height: 130px;
    border-radius:50%;
}
#intro .container p{
    line-height:1.5;
}
#footer{
    margin-top: 0px;
}
#footer .botdata{
    width: 100%;
    height: 150px;
    background-color: #EB3556;

    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
#footer .botdata .data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
#footer .botdata .list{
    padding: 15px;
}
#footer .botdata .data p{
    font-size: 12px;
    margin-top: 8px;
}
#footer .botdata .data i{
    color:#61D0D4;
}
#footer .botdata .data a,h5{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}
#resume{
    margin-top: 8% ;
}
#resume .container{
    display:flex;
    padding: 30px 0;
}
#resume .container .data{
    width: 70%;
    margin-right: 5%;
}
#resume .container .list{
    width: 20%;
}
#resume .container .data .detail{
    padding: 40px 0;
    display: flex;
    border-top: 1px solid rgb(114, 114, 114);
}
#resume .container .data .detail .title{
    width: 130px;
    height: 130px;
    border-radius:50%;
    background-color: #EB3556;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 17px;
    font-style:  "noticia text";
    font-weight: bold;
    
}
#resume .container .data .detail .article{
    /* padding: 30px; */
    width: 70%;
    margin-left: 53px;
    line-height: 1.5;
    color:#4D4D4D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
#resume .container .list p{
    padding: 5px 0;
}
#resume .container .list .listdata i{
    color:#61D0D4;
    font-size: 40px;
}

#projects .project{
    display: flex;
    width: 100%;
    padding: 10% 0;
    border-top:1px solid rgb(114, 114, 114)
}
#projects h1{
    padding: 50px 0;
}
#projects .project .carousel{
    width: 53%;
}
#projects .project .carousel img {
    width: 100%;
}
#projects .project .icon{
    width: 53%;
}
#projects .project .icon img{
    width: 100%;
    
}
.carousel-control-next, .carousel-control-prev {
    top:-76px;
}
#projects .project .detail{
    width: 55%;
    padding-left: 5%;
}
#projects .project .detail .title{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color:#61D0D4 ;
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    font-size: 17px;
    font-style: "noticia text";
    font-weight: bold;
    margin-bottom: 30px;
}
#projects .project .detail h4{
    font-size: 17px;
    padding: 20px 0;
    border-top:1px solid rgb(114, 114, 114)
}
#projects .project .detail p{
    padding: 5px 0;
    line-height: 1.5;
}
#contacts{
    display:flex;
}
#contacts .title h1{
    margin-bottom: 120px;
}
#contacts .title p{
    font-size: 13px;
    margin-top: 10px;
    font-style: "open sans",sans-serif;
}
#contacts .title i{
    font-size: 32px;
    color: black;
    margin-right: 5px;
}
#contacts .textbox{
    margin-left: 17%;
}
#contacts .textbox p{
    margin-top: 20px;
    margin-bottom: 30px;
}
#contacts .textbox form{
    width: 400px;
}
#contacts .textbox form .t,textarea{
    margin-bottom: 5px;
    border: none;
    color: aliceblue;
    background-color: #EB3556;
    padding: 5px 10px;
    width: 400px;
}
::placeholder{
    color: white;
}
#contacts .textbox form .submit1{
    color: black;
    border: none;
    font-weight: bold;
    float: right;
}
#contacts .textbox form .submit1:hover{
    color:#61D0D4;
}